h1
{
    color: #000000;
}

.copyright
{
    text-align: center;
    color: #000000;
}

.wmd-panel
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply
{
    display: none;
}