{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Blog6109
            {% endblock title %}
        </title>

        {% block style %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock style %}

        {% block head_extra %}        {% endblock head_extra %}
    </head>
    <body>
        {% include 'message_display.html' %}

        <div class="container">
            {% block navigation %}
                <ol class="breadcrumb">
                    <li><a href="/">首頁</a></li>
                    {% block post_list_link %}
                        <li><a href="{% url 'posts:create' %}">建立貼文</a></li>
                    {% endblock post_list_link %}

                    {% if not request.user.is_authenticated %}
                        <li class="pull-right"><a href="{% url 'register' %}">註冊</a></li>
                        <li class="pull-right"><a href="{% url 'login' %}">登入</a></li>
                    {% else %}
                        <li class="pull-right"><a href="{% url 'logout' %}">登出</a></li>
                    {% endif %}
                </ol>
            {% endblock navigation %}
            {% block content %}{% endblock content %}
        </div>

        <script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                // render markdown content
                $(".content-markdown").each(function() {
                    var content = $(this).text()
                    console.log(content)
                    var markedContent = marked(content)
                    console.log(markedContent)
                    $(this).html(markedContent)
                })

                // modify the size of the image in post_detail
                $(".post-detail-item img").each(function() {
                    $(this).addClass("img-responsive")
                })
            })

            var contentInput = $("#id_content")

            function setContent(value) {
                var markedContent = marked(value)
                $("#preview-content").html(markedContent)
                $("#preview-content img").each(function() {
                    $(this).addClass("img-responsive")
                })
            }
            setContent(contentInput.val())

            contentInput.keyup(function() {
                var newContent = $(this).val()
                setContent(newContent)
            })

            var titleInput = $("#id_title")

            function setTitle(value) {
                $("#preview-title").text(value)
            }
            setTitle(titleInput.val())

            titleInput.keyup(function() {
                var newContent = $(this).val()
                setContent(newContent)
            })

            $(".comment-reply-btn").click(function(event) {
                event.preventDefault()
                $(this).parent().next(".comment-reply").fadeToggle()
            })


        </script>

        {% block copyright %}
            <br/>
            <br/>
            <br/>
            <p class="copyright">© 2018-2019 AlvinZhan. All rights reserved.</p>
        {% endblock copyright%}
    </body>
</html>