{% extends 'base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block title %}
    留言 | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <blockquote>
            <p>{{ comment.content }}</p>
            <footer>
                由 {{ comment.user }} | {{ comment.timestamp | timesince }} 前
                {% if comment.children.count > 0 %}
                    {{ comment.children.count }} Comment {% if comment.children.count > 1 %}s{% endif %}
                {% endif %}
                {% if request.user == comment.user %}
                     | <a href="{{ comment.get_absolute_url }}">刪除</a>
                {% endif %}
            </footer>
            <div>
                {% for child_comment in comment.children %}
                    <blockquote>
                        <p>{{ child_comment.content }}</p>
                        <footer>
                            由 {{ child_comment.user }} | {{ child_comment.timestamp | timesince }} 前
                            {% if request.user == child_comment.user %}
                                 | <a href="{{ child_comment.get_absolute_url }}">刪除</a>
                            {% endif %}
                        </footer>
                    </blockquote>
                {% endfor %}
                {% if request.user.is_authenticated %}
                    <form method="POST" action="">{% csrf_token %}
                        {{ form | crispy }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="submit" value="回覆" class="btn btn-default">
                    </form>
                {% else %}
                    <p>留言請先登入</p>
                {% endif %}
            </div>
        </blockquote>
        <hr/>
    </div>
{% endblock content %}