{% extends 'base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block title %}
    {{ instance.title }} | {{ block.super }}
{% endblock title %}

{% block post_list_link %}
    {% if request.user.is_authenticated %}
        {{ block.super }}
        <li><a href="edit">更改貼文</a></li>
        <li><a href="{{ request.path }}delete/">刪除貼文</a></li>
    {% endif %}
    <li><a href="{{ previous }}">返回</a></li>
{% endblock post_list_link %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive">
        {% endif %}

        <h1>
            {{ instance.title }}
            {% if instance.draft %}
                <small><span style="color:red">草稿</span></small>
            {% endif %}
            <br/>
            <small>
                {{ instance.publish }}
            </small>
        </h1>

        {% if instance.user.get_full_name %}
            <p>作者: {{ instance.user.get_full_name }}</p>
        {% else %}
            <p>作者: {{ instance.user }}</p>
        {% endif %}

        <div class="row">
            <div class="col-sm-12"><br>
                <div class="post-detail-item">{{ instance.get_markdown }}</div>
                <hr/>
                <br/>
                <div>
                    <p class="lead">留言</p>
                    {% if request.user.is_authenticated %}
                        <form method="POST" action="">{% csrf_token %}
                            {{ comment_form | crispy }}
                            <input type="submit" value="回覆" class="btn btn-default">
                        </form>
                    {% else %}
                        <p>留言請先登入</p>
                    {% endif %}
                    <hr/>
                    {% for comment in comments %}
                        <blockquote>
                            <p>{{ comment.content }}</p>
                            <footer>
                                由 {{ comment.user }} | {{ comment.timestamp | timesince }} 前 |
                                {% if comment.children.count > 0 %}
                                    {{ comment.children.count }} Comment {% if comment.children.count > 1 %}s|{% endif %}
                                {% endif %}
                                <a class="comment-reply-btn" href="#">回覆</a> | <a class="" href="{{ comment.get_absolute_url }}">留言</a>
                            </footer>
                            <div class="comment-reply">
                                {% for child_comment in comment.children %}
                                    <blockquote>
                                        <p>{{ child_comment.content }}</p>
                                        <footer>由 {{ child_comment.user }} | {{ child_comment.timestamp | timesince }} 前</footer>
                                    </blockquote>
                                {% endfor %}
                                {% if request.user.is_authenticated %}
                                    <form method="POST" action="">{% csrf_token %}
                                        {{ comment_form | crispy }}
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                        <input type="submit" value="回覆" class="btn btn-default">
                                    </form>
                                {% else %}
                                    <p>留言請先登入</p>
                                {% endif %}
                            </div>
                        </blockquote>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}